altgraph==0.17.3
contourpy==1.0.7
cycler==0.11.0
darkdetect==0.7.1
dynaconf==3.1.11
flake8==6.0.0
fonttools==4.38.0
guidata==2.3.1
guiqwt==4.3.2
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.0
mccabe==0.7.0
numpy==1.24.2
packaging==23.0
peewee==3.15.4
pefile==2023.2.7
Pillow==9.4.0
psycopg2==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQt6==6.4.2
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
python-dateutil==2.8.2
PythonQwt==0.10.2
pywin32-ctypes==0.2.0
qbstyles==0.1.4
QtPy==2.3.0
scipy==1.10.1
six==1.16.0
zipp==3.14.0
